body{
    margin: 0;
    background-color: rgb(167, 241, 241);

}

.container{
    background-color: rgb(95, 117, 117);
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1rem;
}
.main_section{
    box-sizing: border-box;
    border: .3rem solid rgb(235, 224, 72);
    margin: .5rem 0;
}